h1 a{
	font-size:50px;
	font-weight:100;
	color:#8A458A;
}

i{
	font-size:30px;
	color: #f1e3ff;
	padding-left:5px;
}
a{
	text-decoration: none;
}
ul{
	list-style:none;
	
}

.text{
	float:left;
	width:200px;
	padding:5px;
	font-size:15px;
	color:#8138ba;
}

.submit{
	float:right;
	padding:5px;
	font-weight:bold;
	background-color: #f1e3ff;
}

#menu{
	height:70px;
	background-color:#f1e3ff;
}

#menu ul{
	padding:25px 20px;
}

#menu ul li{

	float:left;
	padding:0 20px;
	border-right:1px solid #000;
	text-transform: uppercase;
	transition:font-size 0.3s;

}

#menu ul li:hover{
	font-weight:bold;
	font-size: 20px;
	
}

#menu ul li:last-child{
	border-right:none;
}

#container{
    width:1050px;
    margin:0 auto;
}

#header{
	height:100px;
}

#brand{
	float:left;
}

#searchBox{
	float:right;
	background:linear-gradient(#A66FA6,#370037);
	width:400px;
	height:50px;
	padding:20px 20px 0 20px;
	margin-top:15px;
}